* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  background: #fff;
  color: #000;
  overflow-x: hidden;
}
#header {
  width: 100%;
}
#first-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20vh;
  background: linear-gradient(
    rgb(95, 95, 190),
    rgb(21, 16, 85) 0%,
    rgb(76, 76, 250) 100%
  );
  color: #fff;
}
#shirt-name h3 {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 197, 50);
}
#countDown-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#timer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding: px; */
}
.timer-box {
  background: #fff;
  color: #000;
  font-weight: bold;
  width: 4.3rem;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}
#brand,
#discount {
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  transition: all 0.5s ease-in-out;
}

@keyframes move {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  20%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
#discount-container  h4 {
  font-size: 1.5rem;
  color: rgb(255, 197, 50);
  margin-bottom: 10px;
}
#shop-btn button {
  padding: 15px;
  background: rgb(255, 197, 50);
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
#second-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  width: 100%;
}
#second-header a {
  text-decoration: none;
  color: #333;
  font-style: normal;
}
#second-header a:hover {
  color: rgb(255, 197, 50);
}
#categories nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#categories nav ul {
  list-style: none;
  margin: 0 20px;
}
#categories nav li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
  transition: all 0.5s ease;
}
#categories nav li a:hover {
  color: rgb(255, 197, 50);
}
#third-header {
  display: flex;
  flex-direction: row;
  flex: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 12vh;
  background: linear-gradient(
    to right,
    rgb(95, 95, 190) 0%,
    rgb(21, 16, 85) 100%
  );
  color: #000;
  font-family: "Lato", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  z-index: 9999;
}
#brand-name h1 {
  font-size: 2.3rem;
  margin-top: 10px;
  padding: 0;
  color: #fff;
}
#third-header p {
  color: rgb(255, 197, 50);
}
#third-header input {
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 3px 0 0 3px;
}

#third-header button {
  position: relative;
  left: -5px;
  width: fit-content;
  background: rgb(255, 197, 50);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  border: none;
  transition: all 0.5s ease;
  padding: 15px;
}
#third-header button:hover {
  background: rgb(255, 197, 50, 0.8);
}
#third-header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 10px;
}
#third-header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}
#third-header nav ul li a:hover {
  color: rgb(255, 197, 50);
}
#third-header  .cart-menu a{
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  padding: 10px;
  border-radius: 5px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
#items-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  background: rgb(226, 225, 225);
  margin: 0;
  padding: 0;
}
#items-container h3 {
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
}
#top-features {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  /* gap: 50px; */
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 1.5rem;
}
#shirts,
#trousers,
#suits,
#jeans,
#hoodies,
#skirts,
#underwears {
  width: 100%;
}
.items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  background: #fff;
  padding: 2rem;
}
.banner {
  background-image: url(./annie-spratt-zh7GEuORbUw-unsplash.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  color: #fff;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 23rem;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.item-image {
  width: 10rem;
  height: 20rem;
}
.product-name {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 1rem;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background: rgb(21, 16, 85);
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}
.my-float {
  margin-top: 20px;
  color: #fff;
}
#footer-container {
  width: 100%;
  height: fit-content;
  margin-top: 3.5rem;
}
#footer-container h5 {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande",
    "Verdana";
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
}
#footer1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  background: rgb(107, 107, 107);
}
#footer1 h1 {
  font-family: "Lato", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.9rem;
  font-weight: bolder;
  margin-left: 10px;
}
.brand-name,
#subscription,
#contacts,
#help,
#about,
#payment,
#branches {
  margin-bottom: 2rem;
}
.brand-name {
  color: #fff;
}
.brand-name p {
  font-family: "Lato", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 10px;
  margin-left: 10px;
  color: rgb(255, 197, 50);
}
#subscription p {
  padding-top: 10px;
  color: #ccc;
}
#subscription input {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  outline: none;
}
#subscription input:focus-within {
  border: 2px solid rgb(255, 197, 50);
}
#subscription button {
  border: none;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 10px;
  float: right;
  cursor: pointer;
  background: rgb(255, 197, 50);
}
#footer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(1, 1, 2, 0.56);
  color: #ccc;
  padding: 2rem;
}
#footer2 ol {
  list-style: none;
  line-height: 2;
  font-size: 1.1rem;
}
#footer2 a {
  text-decoration: none;
  color: #ccc;
  transition: all 0.5s ease-in-out;
}
#footer2 a:hover {
  color: rgb(255, 197, 50);
}
#contacts {
  color: #fff;
}
#contacts a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
#contacts a:hover {
  color: rgb(255, 197, 50);
}
#payment h5 {
  padding-bottom: 10px;
}
#payment a {
  font-size: 1.1rem;
  margin-bottom: 50px;
}
#branches table {
  text-align: center;
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}
#branches table  th {
  border: 1px solid #ccc;
  color: #fff;
  padding: 5px;
}
#branches table tbody tr {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
#branches tbody tr td {
  border: 1px solid #ccc;
  padding: 5px;
}
#dev-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  padding: 10px;
  color: #333;
}
/* Cart Page */
#cart-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 2rem;
}
.cart-container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.cart-items {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
}
.cart-items img {
  width: 80px;
}
.cart-menu .notification {
  background: rgb(255, 197, 50);
}
.cart-qty-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cart-qty-container input {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
}
.cart-qty-container a {
  text-transform: lowercase;
  text-decoration: none;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  background: red;
  cursor: pointer;
}
.new-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}
.total-menu {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 1.2rem;
  height: fit-content;
  box-shadow: 2px 2px 2px #717171;
}
.total-menu table {
  border-top: 3px solid rgb(255, 197, 50);
  width: 200px;
  max-width: 250px;
}
.total-menu td {
  padding-top: 20px;
}
.total-menu td:last-child {
  text-align: right;
}
.cart-pay button {
  font-size: 1rem;
  width: 200px;
  background: rgb(255, 197, 50);
  margin-top: 10px;
  cursor: pointer;
}
/* Contact Nav */
#contact-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 5vh;
  background: #fff;
}
#contact-nav #list ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  list-style: none;
  padding: 0;
  gap: 10px;
}
#contact-nav #list ul li{
  display: inline-block;
  border-right: 1px solid #000;
  padding-right: 10px;
}
#contact-nav #list ul li:last-child{
  border-right: none;
  padding-right: 0;
}
#contact-nav #list ul li a{
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease-in-out;
}
#contact-nav #list ul li a:hover{
  color: rgb(255, 197, 50);
}
/* Home Style */
